body {
    background-color: #fcfcfc;
}

#entireWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 791px;
    height: 254px;
    
}

#windowBody {
    position: absolute;
    top: 50%;
    left: 50%;
    fill: #0078d7;
    /* fill: #005fbf; */
    transform: translate(0%, 0%);
    height: 254px;
    width: 791px;

}

#button2 {
    position: relative;
    /* /* top: 50%;
    left: 50%; */
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate( 56%, 74%);

    background-color: #000000;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#button2background {
    position: absolute;
    background-color: #ffffff;
    height: 35px;
    width: 163px;
    fill: #ffffff;
    stroke: #ffffff;
    stroke-width: 2;
    fill-opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#button2text {
    position: absolute;
    /* background-color: #ffffff; */
    fill: #ffffff; 
    stroke: #000000; 
    stroke-width: 0;

    /* transform: translate(1%, 9.5%); */
    font-size: 20;
    cursor: pointer;
    
}

#runaway {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    background-color: #ff0000;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#button2background:hover {
    background-color: #ffffff;
    opacity: 0.7;
}

text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}